body {
    background-color: #261e35;
}
/*Body Background Colour*/

.wallet-page-details{
    background-color: #3c354a;
    width: 70%;
    max-width: 1000px;
    /* Set a maximum width */
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-left: 20%;
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
}
/*Box of wallet details for the account*/

#chart{
    background-color: transparent;
    width: 100%;
    /* Set the width to 100% to fill the container */
    height: 100%;
    /* Set the height to 100% to fill the container */
}
/*Middle the chart content*/

select{
    justify-content: right;
    text-align: right;
    font-size: 1em;
    margin-bottom: 1%;
    border-radius: 7px;
    background-color: rgb(34, 33, 33);
    color: white;
    padding: 5px 50px;
}
/*Styling for the select drop down option*/

option{
    justify-content: center;
    text-align: center;
}
/*Styling for the option in the select box*/

table, th, td{
    border: 1px solid rgb(90, 90, 90);
    border-collapse: collapse;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 30px;
    padding-left: 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
/*Styling in the tables for incoming transaction data*/

th{
    background-color: rgb(73, 73, 73);
}
/*Styling for the table header*/

td{
    background-color: rgb(58, 58, 58);
}
/*Styling for the table cols*/

table{
    width: 83%;
    margin-top: 10px;
}
/*Styling for the table*/

.react-grid-Cell {
    border: none;
}

.item{
    color: red;
}

.wallet-profile-container{
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}
/*Wallet Profile Container Styling*/

.wallet-header-paragraph{
    color: white;
    justify-content: center;
    text-align: center;
    margin-top: 18px;
    margin-left: 120px;
    font-family: 'Montserrat', sans-serif;
}
/*Header Paragraph Styling*/

.wallet-id{
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
/*Wallet ID Text styling*/

.table-wrapper {
    overflow-x: auto;
    max-width: 100%;
}
/*Styling for table wrapper*/

#chart-container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    /* Ensure it doesn't exceed the parent's width */
}
/*Styling for the chart container*/
